@charset "UTF-8";
/*
 * Import fonts
 */
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
/* =========================================================================
 * CSS Normalization
 * =========================================================================
 */
@import url(normalize.css);
h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: sans-serif;
}

/* z-index Scale: -1 - 10
 * -1: .img-jumbotron::before
 *  0: .img-jumbotron
 *  1:
 *  2:
 *  3:
 *  4:
 *  5:
 *  6:
 *  7: .flex-control-nav
 *  8: #main-navbar
 *  9: .nav-dropdown-menu
 *  10:
 */
/* =========================================================================
 * Preloader
 * =========================================================================
 */
#preloader {
  display: none;
}

/* =========================================================================
 * Main Navigation Bar
 * =========================================================================
 */
.nav-main-link, .nav-dropdown-header {
  font: 11px sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

#main-navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #18191B;
  z-index: 8;
}

#nav-brand-wrap,
#nav-toggle-wrap,
#nav-menu-wrap {
  margin: auto;
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

#nav-brand-wrap {
  justify-self: flex-start;
}

.nav-brand {
  display: block;
  justify-self: flex-start;
}

#brand-logo {
  width: auto;
  vertical-align: middle;
}

#nav-main-menu {
  margin: 0;
  list-style: none;
  background-color: #18191B;
}

.nav-main-link {
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.nav-main-link:hover, .nav-main-link:active {
  color: #d3bd98;
}

.nav-dropdown-header {
  color: #777;
  cursor: default;
}

.nav-dropdown-menu {
  display: none;
  list-style: none;
  background-color: #18191B;
}

.nav-dropdown-item:hover {
  background-color: #000;
}

.nav-mobile-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle-bar {
  display: block;
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #fff;
}
.toggle-bar:nth-child(1) {
  top: 23px;
}
.toggle-bar:nth-child(2) {
  top: 29px;
}
.toggle-bar:nth-child(3) {
  top: 35px;
}

@media screen and (min-width: 980px) {
  #brand-logo {
    height: 30px;
  }

  /* Hide toggle button */
  .nav-mobile-toggle {
    display: none;
  }

  /* Laptop menu layout */
  .nav-main-item {
    padding: 0 13px;
  }

  .nav-dropdown-header, .nav-dropdown-item {
    padding: 12px 18px;
  }

  .nav-main-item {
    display: inline-block;
  }

  .has-dropdown {
    position: relative;
  }
  .has-dropdown:hover > .nav-dropdown-menu {
    display: block;
  }

  .nav-dropdown-menu {
    position: absolute;
    padding: 0;
    min-width: 210px;
    margin-left: -13px;
    z-index: 9;
  }
}
@media screen and (max-width: 979px) {
  #brand-logo {
    height: 20px;
  }

  /* Hide main menu and show when toggled */
  #nav-menu-wrap {
    margin: 0;
  }

  #nav-main-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    max-height: calc(100vh - 60px);
    overflow: auto;
    padding: 0;
  }

  /* Mobile menu layout */
  .nav-dropdown-header,
  .nav-dropdown-item {
    padding: 0 50px;
  }

  .nav-main-item {
    width: 100%;
    padding: 0 30px;
    line-height: 50px;
  }
  .nav-main-item:hover {
    background-color: #000;
  }

  .nav-dropdown-menu {
    width: 100%;
    padding: 0;
    margin-left: -30px;
  }

  .nav-dropdown-header,
  .nav-dropdown-item {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
  }

  .nav-dropdown-item:hover {
    background-color: #000;
  }
}
/* =========================================================================
 * Header
 * 1. Jumbotron
 * =========================================================================
 */
header {
  margin-top: 60px;
}

/* -------------------------------------------------------------------------
 * 1. Jumbotron
 * 1.1. Index Jumbotron - FlexSlider
 * 1.2. Jumbotron - Img
 * -------------------------------------------------------------------------
 */
/* 1.1. Index Jumbotron - FlexSlider */
.flexslider {
  margin: 0;
  border: none;
}

.flex-control-nav {
  position: absolute;
  bottom: 14%;
  z-index: 7;
}
.flex-control-nav li a {
  background-color: #fff;
}
.flex-control-nav li a:hover {
  background-color: #fff;
}
.flex-control-nav li a.flex-active {
  background-color: #F18C41;
  cursor: pointer;
}

.flex-control-paging li a {
  box-shadow: none;
}

/* 1.2. Jumbotron - Img */
#jumbotron-\[Route\] {
  background-image: url(../img/jumbotrons/\[Route\].jpg);
}

#jumbotron-about-team {
  background-image: url(../img/jumbotrons/about-team.jpg);
}

#jumbotron-about {
  background-image: url(../img/jumbotrons/about.jpg);
}

#jumbotron-attitude {
  background-image: url(../img/jumbotrons/attitude.jpg);
}

#jumbotron-buy {
  background-image: url(../img/jumbotrons/buy.jpg);
}

#jumbotron-contact {
  background-image: url(../img/jumbotrons/contact.jpg);
}

#jumbotron-cooperate {
  background-image: url(../img/jumbotrons/cooperate.jpg);
}

#jumbotron-guide {
  background-image: url(../img/jumbotrons/guide.jpg);
}

#jumbotron-message {
  background-image: url(../img/jumbotrons/message.jpg);
}

#jumbotron-product-idea {
  background-image: url(../img/jumbotrons/product-idea.jpg);
}

#jumbotron-product-intro {
  background-image: url(../img/jumbotrons/product-intro.jpg);
}

#jumbotron-soapstring {
  background-image: url(../img/jumbotrons/soapstring.jpg);
}

#jumbotron-trial {
  background-image: url(../img/jumbotrons/trial.jpg);
}

.img-jumbotron {
  position: relative;
  width: 100vw;
  height: 33.75vw;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 0;
}
.img-jumbotron::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.jumbotron-title,
.jumbotron-subtitle {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-weight: 100;
}

.jumbotron-title {
  padding-top: 3.75vw;
  line-height: 14vw;
}

.jumbotron-subtitle,
.jumbotron-btn {
  padding-bottom: 4vw;
  line-height: 12vw;
}

@media screen and (min-width: 980px) {
  .jumbotron-title {
    font-size: 60px;
  }

  .jumbotron-subtitle {
    font-size: 24px;
  }

  .jumbotron-btn > .primary-btn {
    padding: 16px 36px;
    font-size: 18px;
  }
}
@media screen and (max-width: 979px) {
  .jumbotron-title {
    font-size: 32px;
  }

  .jumbotron-subtitle {
    font-size: 16px;
  }

  .jumbotron-btn > .primary-btn {
    padding: 8px 25px;
    font-size: 16px;
  }
}
/* =========================================================================
 * Footer
 * =========================================================================
 */
#footer {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 0 20px;
  background-color: #F18C41;
  color: #fff;
  font-weight: 100;
  line-height: 1.7;
}
#footer .fa {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.footer-menu .footer-main-link {
  display: block;
}

.footer-title {
  margin: 20px auto;
  font-size: 12px;
}

.footer-main-link {
  margin-bottom: 6px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.footer-main-link:hover {
  color: #000;
}
.footer-main-link:hover .fa {
  color: #000;
}

@media screen and (min-width: 980px) {
  #footer {
    display: grid;
    grid-template-column: 8% 3fr 2fr 2fr 2fr 3fr 8%;
    grid-template-row: auto 40px 60px;
  }

  .footer-menu:nth-child(1) {
    grid-column: calc( 2 + 1 )/span 1;
    grid-row: 1 / 2;
  }

  .footer-menu:nth-child(2) {
    grid-column: calc( 2 + 2 )/span 1;
    grid-row: 1 / 2;
  }

  .footer-menu:nth-child(3) {
    grid-column: calc( 2 + 3 )/span 1;
    grid-row: 1 / 2;
  }

  .footer-menu:nth-child(4) {
    grid-column: calc( 2 + 4 )/span 1;
    grid-row: 1 / 2;
  }

  #community {
    grid-column: 2 / span 1;
    grid-row: 3 / 4;
  }
  #community .footer-main-link {
    line-height: 60px;
  }

  #copyright {
    grid-column: 3 / span 3;
    grid-row: 3 / 4;
  }
}
@media screen and (max-width: 979px) {
  .footer-menu,
  #community,
  #copyright {
    width: 100%;
    text-align: center;
  }
}
/* =========================================================================
 * Contents
 * 0. Shared Properties
 * 1. 首頁｜Index Page
 * 2. 三三堅持｜Product Intro
 * 3. 媒體報導｜Media
 * 4. 試用品申請｜Trial
 * 5. 顧客問答（常見問題）｜FAQ
 * 6. 合作夥伴｜Partner
 * 7. 三三團隊｜About
 * 8. 聯絡我們｜Contact
 * 9. 購物須知｜Shopping Guide
 * 10. 單品 / 旅用皂絲｜Soap / Soapstring
 * =========================================================================
 */
/* -------------------------------------------------------------------------
 * 0. Shared Properties
 * -------------------------------------------------------------------------
 */
a.no-href {
  cursor: default;
}

.main-wrap, #media-wrap, #faq-accordion, #partner-accordion, #guide-wrap {
  margin: 60px 8%;
}

.main-content-title {
  margin-bottom: 35px;
  color: #555;
  font-weight: 200;
  letter-spacing: 4.32px;
}

.main-content-subtitle {
  color: #555;
  font-weight: 200;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.slogan-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 60px 8%;
  background-color: #F18C41;
  color: #fff;
}

.slogan, .slogan-title {
  white-space: pre-line;
  text-align: center;
  font-weight: 200;
  line-height: 1.5;
}

.slogan-title {
  letter-spacing: 3.24px;
}

.primary-btn {
  box-sizing: border-box;
  border: solid 1px #fff;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: #fff;
  transition: all .3s ease;
  font-weight: 200;
}
.primary-btn:hover {
  border-color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  color: #666;
}

.text-btn {
  box-sizing: border-box;
  border: solid 1px #000;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: #000;
  transition: all .3s ease;
  font-weight: 200;
  padding: 8px 25px;
}
.text-btn:hover {
  border-color: #777;
  background-color: transparent;
  color: #777;
}

.submit-btn {
  box-sizing: border-box;
  border: solid 1px #000;
  text-decoration: none;
  text-align: center;
  background-color: #000;
  color: #fff;
  transition: all .3s ease;
  font-weight: 200;
  padding: 10px 35px;
}
.submit-btn:hover {
  border-color: #777;
  background-color: #777;
}

.text-sep-sm {
  border-width: 1px;
  border-color: #eee;
  border-style: solid none none none;
  margin: 20px auto;
}

.text-sep-md {
  border-width: 1px;
  border-color: #ccc;
  border-style: solid none none none;
  margin: 30px auto;
}

.ui-accordion-header {
  font-weight: normal;
  color: #555;
  outline: 0;
}

.ui-accordion-header:hover,
.ui-accordion-header-active {
  font-weight: bold;
  color: #000;
}

.ui-accordion-content {
  font-weight: 200;
}

.trisoap-signature {
  font-family: "Great Vibes", sans-serif;
  font-weight: normal;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
}

/* -------------------------------------------------------------------------
 * 1. 首頁｜Index Page
 * 1.1. 立即購買
 * 1.2. 三個故事 Slogan
 * 1.3. 三個故事
 * -------------------------------------------------------------------------
 */
/* 1.1. 立即購買 */
.buy-now {
  position: relative;
  box-sizing: border-box;
}
.buy-now:hover > .hover-cover {
  opacity: 1;
}
.buy-now .primary-btn {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44%;
  margin: 0 28%;
  padding: 7px 12px;
  font-size: 22px;
}

.buy-now-img {
  width: 100%;
  height: auto;
}

.hover-cover {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 1s ease;
}

@media screen and (min-width: 980px) {
  .buy-now-wrap {
    display: grid;
    grid-template-columns: 8% 15px auto 30px auto 15px 8%;
    grid-template-rows: 90px auto 90px;
    align-items: center;
  }

  .buy-now:first-child {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .buy-now:last-child {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
}
@media screen and (max-width: 979px) {
  .buy-now {
    margin: 40px 15px;
  }
}
/* 1.2. 三個故事 Slogan - Shared Slogan Properties */
/* 1.3. 三個故事 */
.story {
  box-sizing: border-box;
}

.story-img {
  width: 100%;
  height: auto;
}

.story-text {
  color: #555;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

@media screen and (min-width: 980px) {
  .story {
    display: grid;
    grid-template-columns: 8% 6fr 1fr 5fr 8%;
    grid-template-rows: 40px auto 40px;
    align-items: center;
  }

  .story-img-wrap {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .story-text {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}
@media screen and (max-width: 979px) {
  .story-img-wrap {
    margin: 60px 8% 30px;
  }

  .story-text {
    margin: 30px 8% 60px;
    text-align: center;
  }
}
/* -------------------------------------------------------------------------
 * 2. 三三堅持｜Product Intro
 * -------------------------------------------------------------------------
 */
.intro {
  box-sizing: border-box;
}

.intro-img {
  width: 100%;
  height: auto;
}

.intro-text {
  color: #555;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.7;
}
.intro-text h3 {
  text-align: center;
  font-weight: 200;
  letter-spacing: 3.24px;
}

@media screen and (min-width: 980px) {
  .intro {
    display: grid;
    grid-template-columns: 14% 5fr 1fr 5fr 14%;
    align-items: center;
  }
  .intro:nth-child(1) {
    grid-template-rows: 40px auto 20px;
  }
  .intro:nth-child(1) .intro-img-wrap {
    grid-column: 2 / 3;
  }
  .intro:nth-child(1) .intro-text {
    grid-column: 4 / 5;
  }
  .intro:nth-child(2) {
    grid-template-rows: 20px auto 40px;
  }
  .intro:nth-child(2) .intro-text {
    grid-column: 2 / 3;
  }
  .intro:nth-child(2) .intro-img-wrap {
    grid-column: 4 / 5;
  }

  .intro-img-wrap,
  .intro-text {
    grid-row: 2 / 3;
  }

  .intro-text a {
    text-decoration: none;
    color: #000;
    transition: all .3s ease;
  }
  .intro-text a:hover {
    color: #777;
  }
}
@media screen and (max-width: 979px) {
  .intro-img-wrap {
    margin: 60px 8% 30px;
  }

  .intro-text {
    margin: 30px 8% 60px;
    text-align: center;
  }
}
/* -------------------------------------------------------------------------
 * 3. 媒體報導｜Media
 * -------------------------------------------------------------------------
 */
.media-link {
  text-decoration: none;
}

@media screen and (min-width: 980px) {
  .media-link {
    display: inline-block;
    margin: 30px 20px;
  }
}
@media screen and (max-width: 979px) {
  .media-link {
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
}
/* -------------------------------------------------------------------------
 * 4. 試用品申請｜Trial
 * 4.1. 一致好評 - Flexslider
 * 4.2. Slogan
 * 4.3. 3 Main Features
 * -------------------------------------------------------------------------
 */
/* 4.1. 一致好評 - Flexslider */
#trial-recommend {
  padding: 40px 0;
  color: #555;
}
#trial-recommend > .flexslider {
  text-align: center;
}

@media screen and (min-width: 980px) {
  #trial-recommend > .flexslider {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 979px) {
  #trial-recommend {
    width: 84%;
    margin: 0 auto;
  }
  #trial-recommend > .flexslider {
    margin: 25px auto;
  }
}
/* 4.2. Shared Slogan Properties */
/* 4.3. 3 Main Features */
.feature-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 12vh 16%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  overflow: auto;
}

#feature1 {
  background-image: url(../img/trial/feature1.png);
}

#feature2 {
  background-image: url(../img/trial/feature2.png);
}

#feature3 {
  background-image: url(../img/trial/feature3.png);
}

.feature-title {
  margin: 0;
  padding-bottom: 5vh;
  text-align: center;
  font-weight: 200;
  letter-spacing: 4.32px;
  line-height: 1.5;
}

.feature-text {
  margin: 0;
  white-space: pre-line;
  text-align: center;
  font-weight: 200;
  line-height: 1.7;
}

@media screen and (max-width: 979px) {
  .feature-title {
    font-size: 16px;
  }

  .feature-text {
    font-size: 12px;
  }
}
/* -------------------------------------------------------------------------
 * 5. 顧客問答（常見問題）｜FAQ
 * -------------------------------------------------------------------------
 */
#faq-accordion {
  /* Accordion - Shared Properties */
}

/* -------------------------------------------------------------------------
 * 6. 合作夥伴｜Partner
 * -------------------------------------------------------------------------
 */
#partner-accordion {
  /* Accordion - Shared Properties */
}
#partner-accordion > .accordion {
  padding-left: 0;
  padding-right: 0;
}

.partner-logo {
  max-width: 150px;
  height: auto;
}

.partner-text:first-child {
  margin-top: 0;
}

/* -------------------------------------------------------------------------
 * 7. 三三團隊｜About
 * 7.1. 理念
 * 7.2. 團隊
 * -------------------------------------------------------------------------
 */
/* 7.1. 理念 */
#about-concept-text {
  color: #555;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.7;
}
#about-concept-text > .trisoap-signature {
  margin-top: 0;
}

#about-concept-img {
  width: 100%;
  height: auto;
}

/* 7.2. 團隊 */
#about-team {
  color: #555;
}

.about-team-member-img {
  width: 100%;
  height: auto;
}

.about-team-member-text {
  text-align: center;
  letter-spacing: 3.24px;
  line-height: 1.7;
  font-weight: 200;
}

.about-team-member-title,
.about-team-member-subtitle {
  font-weight: 200;
}

@media screen and (min-width: 980px) {
  /* 7.1. 理念 */
  #about-concept {
    display: grid;
    grid-template-columns: 12% 6fr 6fr 8%;
    grid-template-rows: 40px auto 40px;
    align-items: center;
  }

  #about-concept-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #about-concept-img-wrap {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  /* 7.2. 團隊 */
  .about-team-member {
    display: grid;
    grid-template-columns: 12% 9fr 1fr 9fr 12%;
    grid-template-rows: 40px auto 40px;
    align-items: center;
  }
  .about-team-member:last-child {
    margin-bottom: 40px;
  }

  .about-team-member-img-wrap {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .about-team-member-text {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}
@media screen and (max-width: 979px) {
  #about-concept-img-wrap,
  #about-team {
    margin: 30px 8%;
  }

  /* 7.1. 理念 */
  #about-concept-text {
    margin: 60px 8% 30px;
  }

  #about-concept-title,
  .trisoap-signature {
    text-align: center;
  }

  /* 7.2. 團隊 */
  #about-team > .slogan, #about-team > .slogan-title {
    white-space: initial;
    text-align: start;
  }

  .about-team-member {
    margin: 30px auto;
  }
}
/* -------------------------------------------------------------------------
 * 8. 聯絡我們｜Contact
 * -------------------------------------------------------------------------
 */
#contact-subject {
  margin: 60px 8% 0;
}

#contact-map,
#contact-form {
  margin: 0 15px;
}

#contact-form-name,
#contact-form-email,
#contact-form-phone,
#contact-form-message,
#contact-form .submit-btn {
  display: block;
  width: 100%;
  margin: 15px 0;
}

#contact-form-name,
#contact-form-email,
#contact-form-phone,
#contact-form-message {
  box-sizing: border-box;
  padding: 10px 24px;
  border: solid 1px #ddd;
  color: #555;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
}

#contact-info {
  color: #555;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

@media screen and (min-width: 980px) {
  #contact {
    display: grid;
    grid-template-columns: 8% 2fr 1fr 8%;
    grid-template-rows: 60px auto 60px;
    align-items: center;
  }

  #contact-map {
    height: 400px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #contact-form {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}
@media screen and (max-width: 979px) {
  #contact {
    margin: 40px 8%;
  }

  #contact-map {
    height: 220px;
  }
}
/* -------------------------------------------------------------------------
 * 9. 購物須知｜Shopping Guide
 * -------------------------------------------------------------------------
 */
#guide-wrap {
  color: #555;
}

.guide-anchor,
.guide-link {
  text-decoration: none;
  color: #EA8B3B;
  font-weight: 200;
}

#guide-content {
  padding: 0 8%;
}

.guide-title {
  margin-bottom: 35px;
  color: #000;
  font-weight: normal;
  letter-spacing: 0.18em;
}

.guide-subtitle {
  margin-bottom: 20px;
  font-weight: 200;
  letter-spacing: 0.18em;
}

.guide-icon {
  width: 25px;
  height: auto;
}

.guide-text {
  margin-bottom: 35px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

#shop-guide {
  margin-top: 40px;
}

/* -------------------------------------------------------------------------
 * 10. 單品 / 旅用皂絲｜Soap / Soapstring
 * -------------------------------------------------------------------------
 */
