/*
 * Import fonts
 */
/* =========================================================================
 * CSS Normalization
 * =========================================================================
 */
@import url(normalize.css);
/* z-index Scale: 1 - 10 */
/*
 * 1:
 * 2:
 * 3:
 * 4:
 * 5:
 * 6:
 * 7: .flex-control-nav
 * 8: #main-navbar
 * 9: .nav-dropdown-menu
 * 10:
 */
/* =========================================================================
 * Preloader
 * =========================================================================
 */
#preloader {
  display: none;
}

/* =========================================================================
 * Main Navigation Bar
 * =========================================================================
 */
.nav-main-link, .nav-dropdown-header {
  font: 11px "Open Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

#main-navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #18191B;
  z-index: 8;
}
#main-navbar > div {
  margin: auto;
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
#main-navbar > div:nth-child(1) {
  justify-self: flex-start;
}

.nav-brand {
  display: block;
  justify-self: flex-start;
  /* Logo */
}
.nav-brand img {
  width: auto;
  height: 30px;
  vertical-align: middle;
}

#nav-main-menu {
  margin: 0;
  list-style: none;
  background-color: #18191B;
}

.nav-main-link {
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.nav-main-link:hover, .nav-main-link:active {
  color: #d3bd98;
}

.nav-dropdown-header {
  color: #777;
}

.nav-dropdown-menu {
  display: none;
  list-style: none;
  background-color: #18191B;
}

.nav-dropdown-item:hover {
  background-color: #000;
}

.nav-mobile-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.nav-mobile-toggle span {
  display: block;
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #fff;
}
.nav-mobile-toggle span:nth-child(1) {
  top: 23px;
}
.nav-mobile-toggle span:nth-child(2) {
  top: 29px;
}
.nav-mobile-toggle span:nth-child(3) {
  top: 35px;
}

/* Laptop */
@media screen and (min-width: 980px) {
  /* Hide toggle button */
  .nav-mobile-toggle {
    display: none;
  }

  /* Laptop menu layout */
  .nav-main-item {
    padding: 0 13px;
  }

  .nav-dropdown-header, .nav-dropdown-item {
    padding: 12px 18px;
  }

  .nav-main-item {
    display: inline-block;
  }

  .has-dropdown {
    position: relative;
  }
  .has-dropdown:hover > .nav-dropdown-menu {
    display: block;
  }

  .nav-dropdown-menu {
    position: absolute;
    padding: 0;
    min-width: 210px;
    margin-left: -13px;
    z-index: 9;
  }
}
/* Mobile */
@media screen and (max-width: 979px) {
  /* Hide main menu and show when toggled */
  #main-navbar > div:last-child {
    margin: 0;
  }

  #nav-main-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    max-height: calc(100vh - 60px);
    overflow: auto;
    padding: 0;
  }

  /* Mobile menu layout */
  .nav-dropdown-header,
  .nav-dropdown-item {
    padding: 0 50px;
  }

  .nav-main-item {
    width: 100%;
    line-height: 50px;
    padding: 0 30px;
  }
  .nav-main-item:hover {
    background-color: #000;
  }

  .nav-dropdown-menu {
    width: 100%;
    padding: 0;
    margin-left: -30px;
  }

  .nav-dropdown-header,
  .nav-dropdown-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
  }

  .nav-dropdown-item:hover {
    background-color: #000;
  }
}
/* =========================================================================
 * Header
 * =========================================================================
 */
header {
  margin-top: 60px;
}

.flexslider {
  border: none;
}

.flex-control-nav {
  position: absolute;
  bottom: 14%;
  z-index: 7;
}
.flex-control-nav li a {
  background: #fff;
}
.flex-control-nav li a:hover {
  background: #fff;
}
.flex-control-nav li a.flex-active {
  background: #F18C41;
  cursor: pointer;
}

.flex-control-paging li a {
  box-shadow: none;
}
