					<div class="product">
						<div class="product-cover">
							<a class="product-link" href="index.php?route=single_product&itemno=">
								<img class="product-cover-img" src="resource/img/product/[Product Image]" alt="[Product Name]">
							</a>
						</div>
						<h4 class="product-name">
							<a class="product-link" href="index.php?route=single_product&itemno=">
								[Product Name]
							</a>
						</h4>
						<p class="product-intro">
							[Product Intro]
						</p>
					</div>
