/*
 * Import fonts
 */

// @import url(//fonts.googleapis.com/css?family=Open+Sans:400);
// @import url(//fonts.googleapis.com/css?family=Kanit:400,200,100,300,500,600,700,800,900);
// @import url(//fonts.googleapis.com/css?family=Raleway);
// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

/* =========================================================================
 * CSS Normalization
 * =========================================================================
 */

@import url(normalize.css);

h1, h2, h3, h4, h5, h6, p, span, a {
	font-family: sans-serif;
}

/* z-index Scale: -1 - 10
 * -1: .img-jumbotron::before
 *  0: .img-jumbotron
 *  1:
 *  2:
 *  3:
 *  4:
 *  5:
 *  6:
 *  7: .flex-control-nav
 *  8: #main-navbar
 *  9: .nav-dropdown-menu
 *  10:
 */

$bg-orange: #F18C41;
$main-font-color: #555;

/* =========================================================================
 * Preloader
 * =========================================================================
 */

#preloader {
	display: none;
}

/* =========================================================================
 * Main Navigation Bar
 * =========================================================================
 */

$main-nav-height: 60px;
$main-nav-background-color: #18191B;
$nav-link-active-color: #d3bd98;
$nav-main-padding-lr: 13px;
$nav-toggle-span-height: 2px;

%nav-main-text {
	font: 11px sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
}

#main-navbar {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: $main-nav-height;
	background-color: $main-nav-background-color;
	z-index: 8;
}

#nav-brand-wrap,
#nav-toggle-wrap,
#nav-menu-wrap {
	margin: auto;	// flex magic
	display: inline-block;
	height: $main-nav-height;
	line-height: $main-nav-height;
}

#nav-brand-wrap {
	justify-self: flex-start;
}

.nav-brand {
	display: block;
	justify-self: flex-start;
}

#brand-logo {
	width: auto;
	vertical-align: middle;
}

#nav-main-menu {
	margin: 0;
	list-style: none;
	background-color: $main-nav-background-color;
}

.nav-main-link {
	@extend %nav-main-text;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease-in-out;
	&:hover,
	&:active {
		color: $nav-link-active-color;
	}
}

.nav-dropdown-header {
	@extend %nav-main-text;
	color: #777;
}

.nav-dropdown-menu {
	display: none;
	list-style: none;
	background-color: $main-nav-background-color;
}

.nav-dropdown-item:hover {
	background-color: #000;
}

.nav-mobile-toggle {
	position: relative;
	width: $main-nav-height;
	height: $main-nav-height;
	cursor: pointer;
}

.toggle-bar {
	display: block;
	position: absolute;
	left: 25%;
	width: 50%;
	height: $nav-toggle-span-height;
	background-color: #fff;
	&:nth-child(1) {
		top: ( $main-nav-height - $nav-toggle-span-height ) / 2 - 6px;
	}
	&:nth-child(2) {
		top: ( $main-nav-height - $nav-toggle-span-height ) / 2;
	}
	&:nth-child(3) {
		top: ( $main-nav-height - $nav-toggle-span-height ) / 2 + 6px;
	}
}

// Laptop
@media screen and (min-width: 980px) {
	#brand-logo {
		height: $main-nav-height / 2;
	}

	/* Hide toggle button */
	.nav-mobile-toggle {
		display: none;
	}

	/* Laptop menu layout */
	%nav-main-padding {
		padding: 0 $nav-main-padding-lr;
	}

	%nav-dropdown-padding {
		padding: 12px 18px;
	}

	.nav-main-item {
		display: inline-block;
		@extend %nav-main-padding;
	}

	.has-dropdown {
		position: relative;
		&:hover > .nav-dropdown-menu {
			display: block;
		}
	}

	.nav-dropdown-header {
		@extend %nav-dropdown-padding;
	}

	.nav-dropdown-menu {
		position: absolute;
		padding: 0;
		min-width: 210px;
		margin-left: - $nav-main-padding-lr;
		z-index: 9;
	}

	.nav-dropdown-item {
		@extend %nav-dropdown-padding;
	}
}

// Mobile
@media screen and (max-width: 979px) {
	$nav-main-item-height: 50px;
	$nav-dropdown-item-height: 40px;
	$nav-main-padding-mobile: 30px;
	$nav-dropdown-padding-mobile: 50px;

	#brand-logo {
		height: 20px;
	}

	/* Hide main menu and show when toggled */
	#nav-menu-wrap {
		margin: 0;
	}

	#nav-main-menu {
		display: none;
		position: absolute;
		top: 60px;	// $main-nav-height
		left: 0;
		right: 0;
		max-height: calc(100vh - 60px);
		overflow: auto;
		padding: 0;
	}

	/* Mobile menu layout */
	%nav-dropdown-padding-mobile {
		padding: 0 $nav-dropdown-padding-mobile;
	}

	.nav-main-item {
		width: 100%;
		padding: 0 $nav-main-padding-mobile;
		line-height: $nav-main-item-height;
		&:hover {
			background-color: #000;
		}
	}

	.nav-dropdown-menu {
		width: 100%;
		padding: 0;
		margin-left: - $nav-main-padding-mobile;
	}

	.nav-dropdown-header,
	.nav-dropdown-item {
		width: 100%;
		height: $nav-dropdown-item-height;
		box-sizing: border-box;
		line-height: $nav-dropdown-item-height;
		@extend %nav-dropdown-padding-mobile;
	}

	.nav-dropdown-item:hover {
		background-color: #000;
	}
}

/* =========================================================================
 * Header
 * 1. Jumbotron
 * =========================================================================
 */

header {
	margin-top: $main-nav-height;
}

/* -------------------------------------------------------------------------
 * 1. Jumbotron
 * 1.1. Index Jumbotron - FlexSlider
 * 1.2. Jumbotron - Img
 * -------------------------------------------------------------------------
 */

/* 1.1. Index Jumbotron - FlexSlider */

.flexslider {
	margin: 0;
	border: none;
}

.flex-control-nav {
	position: absolute;
	bottom: 14%;
	z-index: 7;
	li a {	// ineffective css to overwrite flexslider-generated style
		background-color: #fff;
		&:hover {
			background-color: #fff;
		}
		&.flex-active {
			background-color: $bg-orange;
			cursor: pointer;
		}
	}
}

.flex-control-paging li a {
	box-shadow: none;
}

/* 1.2. Jumbotron - Img */

$jumbotron-list: "\\[Route\\]", "about-team", "about", "attitude", "buy", "contact", "cooperate", "guide", "message", "product-idea", "product-intro", "soapstring", "trial";

@each $item in $jumbotron-list {
	#jumbotron-#{$item} {
		background-image: url(../img/jumbotrons/#{$item}.jpg);
	}
}

.img-jumbotron {
	position: relative;
	width: 100vw;
	height: 33.75vw;	// ( 486 / 1440 )
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
}

.jumbotron-title,
.jumbotron-subtitle {
	display: block;
	margin: 0 auto;
	color: #fff;
	font-weight: 100;
}

// 1 + 2 + 3 + 4 = 33.75vw
.jumbotron-title {
	padding-top: 3.75vw;	// 1
	line-height: 14vw;		// 2
}

// h4 and .jumbotron-btn SHOULD NOT appear at the same time.
.jumbotron-subtitle,
.jumbotron-btn {
	padding-bottom: 4vw;	// 3
	line-height: 12vw;		// 4
}

// Laptop
@media screen and (min-width: 980px) {
	.jumbotron-title {
		font-size: 60px;
	}

	.jumbotron-subtitle {
		font-size: 24px;
	}

	.jumbotron-btn > .primary-btn {
		padding: 16px 36px;
		font-size: 18px;
	}
}

// Mobile
@media screen and (max-width: 979px) {
	.jumbotron-title {
		font-size: 32px;
	}

	.jumbotron-subtitle {
		font-size: 16px;
	}

	.jumbotron-btn > .primary-btn {
		padding: 8px 25px;
		font-size: 16px;
	}
}

/* =========================================================================
 * Footer
 * =========================================================================
 */

$footer-title-font-size: 12px;
// default -- $footer-text-font-size: 16px;
$footer-font-weight: 100;
$footer-line-height: 1.7;

#footer {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 0 20px;
	background-color: $bg-orange;
	color: #fff;
	font-weight: $footer-font-weight;
	line-height: $footer-line-height;
	.fa {
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.3s ease;
	}
}

.footer-menu .footer-main-link {
	display: block;
}

.footer-title {
	margin: 20px auto;
	font-size: $footer-title-font-size;
}

.footer-main-link {
	margin-bottom: 6px;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	&:hover {
		color: #000;
		.fa {
			color: #000;
		}
	}
}

// Laptop
@media screen and (min-width: 980px) {
	$footer-row-2-height: 60px;

	#footer {
		display: grid;
		grid-template-column: 8% 3fr 2fr 2fr 2fr 3fr 8%;
		grid-template-row: auto 40px $footer-row-2-height;
	}

	@for $i from 1 through 4 {
		.footer-menu:nth-child(#{$i}) {
			grid-column: calc( 2 + #{$i} ) / span 1;	// out of 8
			grid-row: 1 / 2;	// out of 4
		}
	}

	#community {
		grid-column: 2 / span 1;	// out of 8
		grid-row: 3 / 4;	// out of 4
		.footer-main-link {
			line-height: $footer-row-2-height;
		}
	}

	#copyright {
		grid-column: 3 / span 3;	// out of 8
		grid-row: 3 / 4;	// out of 4
	}
}

// Mobile
@media screen and (max-width: 979px) {
	.footer-menu,
	#community,
	#copyright {
		width: 100%;
		text-align: center;
	}
}

/* =========================================================================
 * Contents
 * 0. Shared Properties
 * 1. 首頁｜Index Page
 * 2. 三三堅持｜Product Intro
 * 3. 媒體報導｜Media
 * 4. 試用品申請｜Trial
 * 5. 顧客問答（常見問題）｜FAQ
 * 6. 合作夥伴｜Partner
 * 7. 三三團隊｜About
 * =========================================================================
 */

/* -------------------------------------------------------------------------
 * 0. Shared Properties
 * -------------------------------------------------------------------------
 */

$wrap-lr-margin: 8%;
$letter-spacing-16-27: 4.32px;
$letter-spacing-18-18: 3.24px;
$letter-spacing-16-003: 0.48px;

a.no-href {
	cursor: default;
}

.main-content-title {
	margin-bottom: 35px;
	color: $main-font-color;
	font-weight: 200;
	letter-spacing: $letter-spacing-16-27;
}

.main-content-subtitle {
	color: $main-font-color;
	font-weight: 200;
	letter-spacing: $letter-spacing-16-27;
}

.slogan-wrap {
	width: 100%;
	box-sizing: border-box;
	padding: 60px 8%;
	background-color: $bg-orange;
	color: #fff;
}

.slogan {
	white-space: pre-line;
	text-align: center;
	font-weight: 200;
	line-height: 1.5;
}

.slogan-title {
	white-space: pre-line;
	text-align: center;
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: $letter-spacing-18-18;
}

.primary-btn {
	box-sizing: border-box;
	border: solid 1px #fff;
	text-decoration: none;
	text-align: center;
	color: #fff;
	transition: all .3s ease;
	&:hover {
		background-color: rgba(255, 255, 255, 0.7);
		color: #666;
	}
}

// JQuery UI Accordion
.ui-accordion-header {
	font-weight: normal;
	color: $main-font-color;
	outline: 0;
}

.ui-accordion-header:hover,
.ui-accordion-header-active {
	font-weight: bold;
	color: #000;
}

.ui-accordion-content {
	font-weight: 200;
}

.trisoap-signature {
	font-family: "Great Vibes", sans-serif;
    font-weight: normal;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
}

/* -------------------------------------------------------------------------
 * 1. 首頁｜Index Page
 * 1.1. Buy Now Showcase
 * 1.2. Slogan
 * 1.3. 3 Stories About Us
 * -------------------------------------------------------------------------
 */

/* 1.1. Buy Now Showcase */

$buy-now-btn-width: 44%;

.buy-now {
	position: relative;
	box-sizing: border-box;
	&:hover > .hover-cover {
		opacity: 1;
	}
	.primary-btn {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: $buy-now-btn-width;
		margin: 0 (100% - $buy-now-btn-width) / 2;
		padding: 7px 12px;
		font-size: 22px;
	}
}

.buy-now-img {
	width: 100%;
	height: auto;
}

.hover-cover {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: all 1s ease;
}

// Laptop
@media screen and (min-width: 980px) {
	.buy-now-wrap {
		display: grid;
		grid-template-columns: 8% 15px auto 30px auto 15px 8%;
		grid-template-rows: 90px auto 90px;
		align-items: center;
	}

	.buy-now:first-child {
		grid-column: 3 / 4;	// out of 8
		grid-row: 2 / 3;	// out of 4
	}

	.buy-now:last-child {
		grid-column: 5 / 6;	// out of 8
		grid-row: 2 / 3;	// out of 4
	}
}

// Mobile
@media screen and (max-width: 979px) {
	$buy-now-lr-margin: 15px;

	.buy-now {
		width: calc(100% - 2 * $buy-now-lr-margin);
		margin: 40px $buy-now-lr-margin;
	}
}

/* 1.2. Slogan - Shared Properties */

/* 1.3. 3 Stories About Us */

.story {
	box-sizing: border-box;
}

.story-img {
	width: 100%;
	height: auto;
}

.story-text {
	color: $main-font-color;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: $letter-spacing-16-003;
	line-height: 1.7;
}

// Laptop
@media screen and (min-width: 980px) {
	.story {
		display: grid;
		grid-template-columns: 8% 6fr 1fr 5fr 8%;	// 6 for img, 5 for text
		grid-template-rows: 40px auto 40px;
		align-items: center;
	}

	.story-img-wrap {
		grid-column: 2 / 3;	// out of 6
		grid-row: 2 / 3;	// out of 4
	}

	.story-text {
		grid-column: 4 / 5;	// out of 6
		grid-row: 2 / 3;	// out of 4
	}
}

// Mobile
@media screen and (max-width: 979px) {
	$story-lr-margin: 8%;

	.story-img-wrap,
	.story-text {
		width: 100% - 2 * $story-lr-margin;
	}

	.story-img-wrap {
		margin: 60px auto 30px;
	}

	.story-text {
		margin: 30px auto 60px;
		text-align: center;
	}
}

/* -------------------------------------------------------------------------
 * 2. 三三堅持｜Product Intro
 * -------------------------------------------------------------------------
 */


.intro {
	box-sizing: border-box;
}

.intro-img {
	width: 100%;
	height: auto;
}

.intro-text {
	color: $main-font-color;
	font-weight: 200;
	letter-spacing: $letter-spacing-16-003;
	line-height: 1.7;
	h3 {
		text-align: center;
		font-weight: 200;
		letter-spacing: $letter-spacing-18-18;
	}
}

// Laptop
@media screen and (min-width: 980px) {
	.intro {
		display: grid;
		grid-template-columns: 14% 5fr 1fr 5fr 14%;	// 5 for img or text
		align-items: center;
		&:nth-child(1) {
			grid-template-rows: 40px auto 20px;
			.intro-img-wrap {
				grid-column: 2 / 3;	// out of 6
			}
			.intro-text {
				grid-column: 4 / 5;	// out of 6
			}
		}
		&:nth-child(2) {
			grid-template-rows: 20px auto 40px;
			.intro-text {
				grid-column: 2 / 3;	// out of 6
			}
			.intro-img-wrap {
				grid-column: 4 / 5;	// out of 6
			}
		}
	}

	.intro-img-wrap,
	.intro-text {
		grid-row: 2 / 3;	// out of 4
	}

	.intro-text a {
		text-decoration: none;
		color: #000;
		transition: all .3s ease;
		&:hover {
			color: #777;
		}
	}
}

// Mobile
@media screen and (max-width: 979px) {
	$intro-lr-margin: 8%;

	.intro-img-wrap,
	.intro-text {
		width: 100% - 2 * $intro-lr-margin;
	}

	.intro-img-wrap {
		margin: 60px auto 30px;
	}

	.intro-text {
		margin: 30px auto 60px;
		text-align: center;
	}
}

/* -------------------------------------------------------------------------
 * 3. 媒體報導｜Media
 * -------------------------------------------------------------------------
 */

#media-wrap {
	margin: 60px $wrap-lr-margin;
}

.media-link {
	text-decoration: none;
}

// Laptop
@media screen and (min-width: 980px) {
	.media-link {
		display: inline-block;
		margin: 30px 20px;
	}
}

// Mobile
@media screen and (max-width: 979px) {
	.media-link {
		display: block;
		width: 100%;
		margin: 20px auto;
		text-align: center;
	}
}

/* -------------------------------------------------------------------------
 * 4. 試用品申請｜Trial
 * 4.1. Recommendation - Flexslider
 * 4.2. Slogan
 * 4.3. 3 Main Features
 * -------------------------------------------------------------------------
 */

/* 4.1. Recommendation - Flexslider */

#trial-recommend {
	padding: 40px 0;
	color: $main-font-color;
	& > .flexslider {
		text-align: center;
	}
}

// Laptop
@media screen and (min-width: 980px) {
	#trial-recommend > .flexslider {
		width: 60%;
		margin: 0 auto;
	}
}

// Mobile
@media screen and (max-width: 979px) {
	#trial-recommend {
		width: 84%;
		margin: 0 auto;
		& > .flexslider {
			margin: 25px auto;
		}
	}
}

/* 4.2. Slogan - Shared Properties */

/* 4.3. 3 Main Features */

.feature-wrap {
	width: 100%;
	box-sizing: border-box;
	padding: 12vh 16%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
	overflow: auto;
}

#feature1 {
	background-image: url(../img/trial/feature1.png);
}

#feature2 {
	background-image: url(../img/trial/feature2.png);
}

#feature3 {
	background-image: url(../img/trial/feature3.png);
}

.feature-title {
	margin: 0;
	padding-bottom: 5vh;
	text-align: center;
	font-weight: 200;
	letter-spacing: $letter-spacing-16-27;
	line-height: 1.5;
}

.feature-text {
	margin: 0;
	white-space: pre-line;
	text-align: center;
	font-weight: 200;
	line-height: 1.7;
}

// Mobile
@media screen and (max-width: 979px) {
	.feature-title {
		font-size: 16px;
	}

	.feature-text {
		font-size: 12px;
	}
}

/* -------------------------------------------------------------------------
 * 5. 顧客問答（常見問題）｜FAQ
 * -------------------------------------------------------------------------
 */

#faq-accordion {
	margin: 60px $wrap-lr-margin;
	/* Accordion - Shared Properties */
	// Laptop
	@media screen and (min-width: 980px) {
		.ui-accordion-header-active,
		.ui-accordion-header:not(.ui-accordion-header-active):hover {
			text-align: center;
		}
	}
}

/* -------------------------------------------------------------------------
 * 6. 合作夥伴｜Partner
 * -------------------------------------------------------------------------
 */

 #partner-accordion {
 	margin: 60px $wrap-lr-margin;

 	/* Accordion - Shared Properties */
	& > .accordion {
		padding-left: 0;
		padding-right: 0;
	}

 	.primary-btn {
 		border: solid 1px #000;
 		padding: 8px 25px;
		color: #000;
		&:hover {
			border-color: #777;
			color: #777;
		}
 	}
 }

.partner-logo {
	max-width: 150px;
	height: auto;
}

// for those partners without logo img
.partner-text:first-child {
	margin-top: 0;
}

/* -------------------------------------------------------------------------
 * 7. 三三團隊｜About
 * -------------------------------------------------------------------------
 */

/* 理念 #about-concept */

#about-concept-text {
	color: $main-font-color;
	font-weight: 200;
	letter-spacing: $letter-spacing-16-003;
	line-height: 1.7;
	& > .trisoap-signature {
		margin-top: 0;
	}
}

#about-concept-img {
	width: 100%;
	height: auto;
}

/* 團隊 #about-team */

#about-team {
	color: $main-font-color;
}

.about-team-member-img {
	width: 100%;
	height: auto;
}

.about-team-member-text {
	text-align: center;
	letter-spacing: $letter-spacing-18-18;
	line-height: 1.7;
	font-weight: 200;
}

.about-team-member-title,
.about-team-member-subtitle {
	font-weight: 200;
}

// Laptop
@media screen and (min-width: 980px) {
	/* 理念 #about-concept */
	#about-concept {
		display: grid;
		grid-template-columns: 12% 6fr 6fr 8%;
		grid-template-rows: 40px auto 40px;
		align-items: center;
	}

	#about-concept-text {
		grid-column: 2 / 3;	// out of 5
		grid-row: 2 / 3;	// out of 4
	}

	#about-concept-img-wrap {
		grid-column: 3 / 4;	// out of 5
		grid-row: 2 / 3;	// out of 4
	}

	/* 團隊 #about-team */

	.about-team-member {
		display: grid;
		grid-template-columns: 12% 9fr 1fr 9fr 12%;
		grid-template-rows: 40px auto 40px;
		align-items: center;
	}

	.about-team-member-img-wrap {
		grid-column: 2 / 3;	// out of 6
		grid-row: 2 / 3;	// out of 4
	}

	.about-team-member-text {
		grid-column: 4 / 5;	// out of 6
		grid-row: 2 / 3;	// out of 4
	}
}

// Mobile
@media screen and (max-width: 979px) {
	$about-concept-lr-margin: 12%;

	#about-concept-img-wrap,
	#about-concept-text,
	#about-team {
		width: 100% - 2 * $about-concept-lr-margin;
	}

	#about-concept-text {
		margin: 60px auto 30px;
	}

	#about-concept-img-wrap,
	#about-team {
		margin: 30px auto;
	}

	#about-concept-title,
	.trisoap-signature {
		text-align: center;
	}

	/* 團隊 #about-team */

	#about-team {
		& > .slogan {
			white-space: initial;
			text-align: start;
		}
	}

	.about-team-member {
		margin: 30px auto;
	}
}

