					<a class="nav-main-link" href="javascript:void(0)">
						<li class="nav-main-item has-dropdown">
							管理平台
							<i class="fa fa-angle-down"></i>
							<ul class="nav-dropdown-menu">
								<a class="nav-main-link" href="index.php?route=order&in=cusView">
									<li class="nav-dropdown-item">
										查看訂單
									</li>
								</a>
								<a class="nav-main-link" href="index.php?route=member&in=edit">
									<li class="nav-dropdown-item">
										修改資料
									</li>
								</a>
								<a class="nav-main-link" href="index.php?route=member&in=changePassword">
									<li class="nav-dropdown-item">
										修改密碼
									</li>
								</a>
								<a class="nav-main-link" href="index.php?route=cart">
									<li class="nav-dropdown-item">
										購物車內容
									</li>
								</a>
								<a class="nav-main-link" href="#" onclick="memberLogout()">
									<li class="nav-dropdown-item">
										登出
									</li>
								</a>
							</ul>
						</li>
					</a>
